# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
#*.out
.coverage.out

# Dependency directories (remove the comment below to include it)
# vendor/
/.env
.idea
/openapitools.json
/coverage.out
/.env_testing
/*.conf
/.env-testing-export
/.env_for_github.txt
/bin/server
**/node_modules
proto_third_party/*
/coverage.txt
